* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body{
    height: 100vh;
    width: 100vw;
    font-family:'Segoe UI';
    background-color: #dfdbdb;
}

main {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

#menu {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 100%;
    padding: 10px;
    background-color: #F0F0F0;
    border-top-right-radius: 15px;
}

#search {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 5%;
    border-bottom: 2px solid #25d366;
    padding-bottom: 5px;
    background-color: #F0F0F0;
}

#search input{
    width: 90%;
    font-size: 20px;
    text-align:start;
    padding-inline: 5px;
    border: none;
    outline: none;
    background-color: transparent;
}

#contact-list {
    width: 100%;
    height: 95%;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.contact-card {
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 2px solid #858585;
    background-color: none;
    cursor: pointer;
}

.contact-card h2 {
    font-size: 22px;
    font-weight: 500;
    color: rgb(34, 34, 34);
}

.contact-card p {
    font-size: 16px;
    color: #585858;
}


#chat {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 100%;
    background-color: #F0F0F0;
}

#messages {
    display: flex;
    flex-direction: column;
    height: 90%;
    width: 100%;
    gap: 50px;
    border-bottom-left-radius: 10px;
    background-color: #dfdbdb;
}

.message-card {
    display: flex;
    width: auto;
    max-width: 60%;
    min-height: 30px;
    max-height: fit-content;
    background-color: #25d366;
}

.sent {
    display: flex;
    align-self: flex-end;
}

#type-text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 10%;
    width: 100%;
    gap: 10px;
    padding: 5px;
    background-color: #F0F0F0;
}

#send-text {
    height: 90%;
    width: 95%;
    text-align: start;
    font-size: 26px;
    padding-inline: 10px;
    border: none;
    outline: none;
    background-color: transparent;
}

#send-btn {
    display: flex;
    align-self: center;
    height: 90%;
    width: 5%;
}